.contentht img {
  height: 25vh;
  width: 19vw;
  padding: 5px;
  float: left;
  border-radius: 50px 20px;
}

h1 {
  text-align: center;
  padding: 10px;
  text-decoration: underline;
}

h2{
  text-align: left;
  margin-left: 10px;

}

.contentht p {
  display: block;
  letter-spacing: 0.127em;
  margin-left: 50px;
  margin-right: 50px;
  color: inherit;
  text-rendering: optimizeLegibility;
  padding: 10px;
}

/* .contentht {
  align-items: center;
} */
p {
  /* text-decoration: line-through; */
  text-align: center;
  /* border-bottom: 1px solid; */
}
textarea{
  width: 445px;
  height: 80px;
  background-color: #fff;
  resize: none;
  border-radius: 4px;
}
button{
  width: 100px;
  height:30px;
  background-color: #282828;
  border: none;
  font-family: arial;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
  margin-bottom: 10px;

}

.comment-box{
  margin-left: 40px;
  width: 400px;
  padding: 20px;
  margin-bottom: 4px;
  background-color: white;
  border-radius: 4px;
  position: relative;
}
.comment-box p{
  font-family: arial;
  font-size: 14px;
  line-height: 16px;
  color: #282828;
}

.edit-form{
  position: absolute;
  top: 0px;
  right: 0px;
}

.edit-form button{
  width: 40px;
  height: 20px;
  color: #282828;
  background-color: #fff;
  opacity: 0.7;
}

.edit-form button:hover{
  opacity: 1;

}

.delete-form{
  position: absolute;
  top: 0px;
  right: 60px;
}

.delete-form button{
  width: 40px;
  height: 20px;
  color: #282828;
  background-color: #fff;
  opacity: 0.7;
}

.delete-form button:hover{
  opacity: 1;

}

/* .comment {

  border: 1px solid;
  text-align: center;
}

.comment {
  box-sizing: border-box;
}


h3 {
  letter-spacing: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 35%;
  background-color: #0002;
  color: grey;
  padding: 14px 20px;
  margin: 8px ;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0002;
}


form {
  align-items: center;
} */
